* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.white {
  color: #ffffff;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 2% auto;
}

/* sidenavbar */

.all {
  display: flex;
  /* justify-content: space-evenly; */
}
.design a {
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
  margin-bottom: 35%;
}

.today {
  font-weight: normal;
  font-family: "Avenir Book";
}
.header {
  background-color: #222222;
  width: 319px;
  height: 1080px;
}
.header img {
  width: 24px;
  margin-right: 15px;
}
.navbar a {
  display: flex;
  margin-left: 20%;
  align-items: center;
}
.navbar li {
  display: flex;
  align-items: center;
  width: 259px;
  height: 60px;
  margin-left: 5%;
  border-radius: 15px;
  font-size: 16px;
  font-family: "Avenir Medium";
}
.navbar li:hover {
  background-color: #ff2288;
}
.following {
  margin-left: 20%;
  margin-top: 25%;
  margin-bottom: 10%;
  font-size: 12px;
  font-family: "Avenir Heavy";
}
.following2 a {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 20%;
  margin-bottom: 19px;
}
.following2 img {
  width: 44px;
}
.following2 a:hover {
  opacity: 60%;
}
.loadmore {
  margin-left: 20%;
  font-size: 14px;
  font-family: "Avenir Heavy";
}
.loadmore:hover {
  opacity: 60%;
}
/* sidenavbar// */
.black {
  color: #222222;
}
.loadmore111 {
  color: black;
}
.loadmore111:hover {
  opacity: 70%;
}
.container1 {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.secondul li {
  font-family: "Avenir Book";
  width: 83px;
  margin-left: 45px;
  display: inline-block;
}
.secondul li:hover {
  opacity: 60%;
}

.input-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #f8f8f8;

  margin-top: 5%;
  margin-bottom: 5%;
}
.inputt input {
  width: 446px;
  height: 56px;
  background-color: #f8f8f8;
  border-style: none;
  padding: 5%;
  margin-bottom: 10%;
  border-radius: 12px;
}
.goproo {
  align-items: center;
}
.goproo a {
  font-family: "Avenir Heavy";
  display: flex;
  align-items: center;
}

.goproo img {
  margin-left: 5%;
  margin-right: 5%;
}
.filters {
  font-family: "Avenir Heavy";
  margin-left: 23%;
  border-style: solid;
  padding: 15px 25px;
  border-radius: 12px;
  border-color: #f8f8f8;
}
.filters:hover {
  opacity: 60%;
}
.GOPRO {
  color: #ff2288;
}
.GOPRO:hover {
  opacity: 60%;
}
.UPLOAD {
  height: 56px;
  padding: 15px 25px;
  border-radius: 12px;
  background-color: #ff2288;
  color: #ffffff;
}
.UPLOAD:hover {
  opacity: 60%;
}
.articless {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10%;
}
.articless p {
  font-family: "Avenir Medium";
  margin-left: 10%;
}
.articless article:hover {
  opacity: 70%;
}
.articless p {
  color: #222222;
}
.load-more span {
  background-color: #f2f2f2;
  margin-left: 40%;
  padding: 20px 100px;
  border-radius: 12px;
}
.topdesigners-first1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 13%;
}
.topp {
  font-size: 32px;
  margin-top: 10%;
}
.topdesigners1 span {
  margin-top: 10%;
}
.topdesigners1 {
  display: flex;
  justify-content: space-between;
}
.topdesigners-first {
  margin-top: 5%;
  background-color: #fafafa;
}
.flex-d {
  display: flex;
  flex-direction: column;
}
.flex-d button {
  width: 132px;
  height: 44px;
  border-radius: 12px;
  border-color: #f2f2f2;
}
.topdesigners-first1 h3 {
  color: #222222;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topdesigners-first1 span {
  margin-bottom: 10px;
  font-family: "Avenir Book";
}
.topdesigners-first1 img:hover {
  opacity: 70%;
}
.topdesigners-first1 h3:hover {
  opacity: 70%;
}
.topdesigners-first1 button:hover {
  opacity: 70%;
}
.topdesigners-first1 button {
  font-family: "Avenir Heavy";
}
.topdesigners-first1 h3 {
  font-family: "Avenir Medium";
}
.topdesigners-first1 {
  margin-bottom: 15%;
}
.lastdiv {
  display: flex;
  justify-content: space-around;
}
.lastdiv a {
  display: flex;
  flex-direction: column;
  color: #222222;
  margin-top: 20px;
  font-family: "Avenir Book";
}
.lastdiv a:hover {
  opacity: 50%;
}
.lastdiv h4 {
  padding-bottom: 15px;
  font-family: "Avenir Heavy";
  font-size: 16px;
}
.lastdiv1 {
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
}
.lastdiv1 img {
  margin-left: 10px;
  width: 24px;
}
.lastdiv1 img:hover {
  opacity: 60%;
}
.smartacademy {
  font-size: 22px;
  font-weight: bolder;
  font-family: "Avenir Heavy";
}
